.wrapper.block__holder
   h2.h2.mb32 Организатор конкурса
   .block_article__footer
      .icon-logo-ficto
      .block_text__footer
         .h3.mb05 Федеральный институт цифровой трансформации <br> в&nbsp;сфере образования
         .text-18-gray Организатор Всероссийского конкурса лучших практик внедрения&nbsp;бережливых технологий в&nbsp;системе образования
      .block_contact__holder
         .block_contact__mail
            .contact_mail__icon
            .contact_mail__text konkurs@ficto.ru
         .block_contact__button
            a( href='mailto:konkurs@ficto.ru' target='_blank').button_blue Написать нам
      .icon-logo-qr




