.wrapper.block__holder
   h2.h2.mb32 Организатор конкурса
   .block_article.block_article_footer
      .icon-logo-ficto
      .block_text_footer
         .h3.mb05 Федеральный институт цифровой трансформации <br> в&nbsp;сфере образования
         .text-18-gray Организатор Всероссийского конкурса лучших практик внедрения&nbsp;бережливых технологий в&nbsp;системе образования
      .icon-logo-qr




