.block_btn {
   .sm-block({
      flex-wrap: wrap;
   })
}
.block_info {
   .flex();
   .items-center();
}
.docs_btn {
   .flex();
   margin-left: 1rem;
   margin-right: 10px;
   .sm-block({
      margin-top: 12px;
      width: 100%;
      .justify-end();
   });
}
