.block_main__flex {
   .flex();
   .items-center();
   padding-top: 48px;
   padding-bottom: 24px;
   .xl-block({
      display: block;
   });
}
.block_main__caption {
}
.block__data {
   .inter-medium();
   font-size: 24px;
   line-height: 140%;
   color: rgba(255, 255, 255, 0.7);
   margin-top: 16px;
}
.block__buttons {
   .flex();
   .xs-block({
      flex-direction: column;
   })
}

.block_main__envelope {
   .xl-block({
      align-self: flex-end;
      .flex();
      .justify-end();
      margin-top: 36px;
   });
}

