.block_main__flex {
   .flex();
   .items-center();
   padding-top: 48px;
   padding-bottom: 48px;
   .xl-block({
      display: block;
   });
}
.block_main__caption {
   margin-right: auto;
}
.block__data {
   .inter-medium();
   font-size: 24px;
   line-height: 140%;
   color: #6B7280;
   margin-top: 16px;
}
.block__buttons {
   .flex();
}

.block_main__envelope {
   .xl-block({
      align-self: flex-end;
      .flex();
      .justify-end();
      margin-top: 36px;
   });
}

