.block_news {
   background-color: white;
   border: 1px solid #E2E8F0;
   border-radius: 18px;
   box-shadow: 0 3px 14px 0 rgba(17, 26, 47, 0.1);
   
   
   padding: 32px;
   .md-block({
      padding: 26px;
   });
   .xs-block({
      padding: 18px;
   });
   
   p {
      margin-bottom: 14px;
   }
   .b {
      .inter-bold();
       margin-bottom: 3px;
       font-size: 19px;
       line-height: 110%;
      .gray();
      .sm-block({ font-size: 18px; })
   }
   ul {
      padding-left: 40px;
      margin-bottom: 12px;
      .smmd-block({ padding-left: 28px });
      .xs-block({ padding-left: 16px });
   }
   ul li {
      list-style-type: disc;
   }
   .quote {
      font-style: italic;
      &:first-letter {
         padding-left: 20px;
         .smmd-block({ padding-left: 14px });
         .xs-block({ padding-left: 8px });
      }
   }
   .italic {
      font-style: italic;
   }
   
   .br {
      height: 20px;
      .ll-block({
         display: none;
      });
   }
   .info {
      height: 20px;
   }
}
.block_news:not(:first-child) {
   margin-top: 32px;
   
   .md-block({
      margin-top: 26px;
   });
   .xs-block({
      margin-top: 18px;
   });
}
.block_news {
   .news_date {
      display: block;
      .md-block({
         display: none;
      });
   }
   .news_date-md {
      display: none;
      .md-block({
         display: block;
      });
   }
}

.news_image {
   //.size(9);
   //.size-xl(9);
   //.size-md(24);
   
   width: 38%;
   
   float: left;
   margin-right: 20px;
   margin-bottom: 5px;
   
   .xl-block({
      width: 45%
   });
   .lg-block({
      width: 50%
   });
   .md-block({
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
   });
}
.news_image img {
   min-width: 100%;
   border-radius: 4px;
   //max-height: 100%;
}
