.block_news {
   background-color: white;
   border: 1px solid #E2E8F0;
   border-radius: 18px;
   box-shadow: 0 3px 14px 0 rgba(17, 26, 47, 0.1);
   
   
   
   padding: 32px;
   .md-block({
      padding: 26px;
   });
   .xs-block({
      padding: 18px;
   });
   
   p {
      margin-bottom: 14px;
      text-align: justify;
   }
   .b, .author {
      .inter-bold();
       margin-bottom: 3px;
       font-size: 19px;
       line-height: 110%;
      
      .gray();
      .sm-block({ font-size: 18px; })
   }
   .author {
      display: inline-block;
      text-align: left;
   }
   .b {
       text-align: justify;
       display: inline;
   }
   p.b {
      margin-bottom: 14px;
   }
   a {
      color: #5f6e8c;
      display: inline !important;
      margin-bottom: 3px;
      border-bottom: 1px solid #D9DADC;
   }
   a:hover {
      color: #4871b1;
      border-bottom-color: #4871b1;
   }
   ul {
      padding-left: 40px;
      margin-bottom: 18px;
      .smmd-block({ padding-left: 28px });
      .xs-block({ padding-left: 16px });
   }
   ul li {
      list-style-type: disc;
      text-align: justify;
   }
   .quote {
      display: inline-block;
      font-style: italic;
      text-align: justify;
      
      &:first-letter {
         padding-left: 20px;
         .smmd-block({ padding-left: 14px });
         .xs-block({ padding-left: 8px });
      }
   }
   .quote-inline {
      display: inline;
      font-style: italic;
      text-align: justify;
      
      &:first-letter {
         padding-left: 20px;
         .smmd-block({ padding-left: 14px });
         .xs-block({ padding-left: 8px });
      }
   }
   .italic {
      font-style: italic;
   }
   
   .br {
      height: 20px;
      .ll-block({
         display: none;
      });
   }
   .info {
      height: 20px;
   }
   
}
.block_news:not(:first-child) {
   margin-top: 32px;
   
   .md-block({
      margin-top: 26px;
   });
   .xs-block({
      margin-top: 18px;
   });
}
.block_news {
   .news_date {
      display: block;
      .md-block({
         display: none;
      });
   }
   .news_date-md {
      display: none;
      .md-block({
         display: block;
      });
   }
}

.news_image {
   //.size(9);
   //.size-xl(9);
   //.size-md(24);
   
   width: 40%;
   
   float: left;
   margin-right: 20px;
   margin-bottom: 5px;
   
   .xl-block({
      width: 45%
   });
   .lg-block({
      width: 50%
   });
   .md-block({
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
   });
}
.news_image img {
   min-width: 100%;
   border-radius: 4px;
   //max-height: 100%;
}
.hidden_text {
   display: none;
}
.more, .hide {
   cursor: pointer;
   font-size: 19px;
   color: #5f6e8c;
   display: inline;
   margin-bottom: 3px;
   border-bottom: 1px dotted #D9DADC;
   
   &:hover {
      color: #4871b1;
      border-bottom-color: #4871b1;
      
      .icon {
      }
   }
}
