.qa__about {
   font-size: 18px;
   line-height: 135%;
   color: @color-dark;
   
   margin-top: 20px;
   padding-bottom: 40px;
}
.qa__holder {
}
.qa__block {
   position: relative;
   background-color: white;
   border: 1px solid #E2E8F0;
   border-radius: 18px;
   box-shadow: 0 3px 14px 0 rgba(17, 26, 47, 0.1);
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   
   margin-bottom: 24px;
   
   .xl-block({
      margin-bottom: 16px;
   });

   padding: 30px 22px 30px 32px;
   .md-block({
      padding: 28px 30px;
      padding-right: 16px;
   });
   .xs-block({
      padding: 24px 28px;
      padding-right: 16px;
   });
}

.qa__block_headline {
   .un-button();
   width: 100%;
   cursor: pointer;
   .flex();
   .justify-between();
   .items-center();
   
   text-align: left;
}
.qa__block_circle {
   position: relative;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   transition: background-color .2s;
   flex-shrink: 0;
   .tr();
}
.qa__block_circle:before,
.qa__block_circle:after {
   content: '';
   position: absolute;
   display: block;
   
   border-radius: 1.5px;
   background-color: @back-blue-main;
   transition: background-color .2s;
}
.qa__block_circle:before {
   width: 24px;
   height: 4px;
   top: 20px;
   left: 21px;
   transform: translateX(-51%) translateY(-50%);
}
.qa__block_circle:after {
   width: 4px;
   height: 24px;
   top: 20px;
   left: 20px;
   transform: translateX(-15%) translateY(-50%);
}
.qa__block_headline:hover .qa__block_circle {
   transform: scale(1.08);
   .tr();
   &:before,
   &:after {
      background-color: #4e8ef7;
      .tr();
   }
}
.qa__block.open .qa__block_circle {
   //transform: rotate(-45deg);
   .tr();
   &:after {
      transform: rotate(90deg) translateX(-300%) translateY(1%);
      .tr();
   }
}
.qa__block.open:hover .qa__block_circle {
   transform: scale(1.1);
   transition: all .2s;
}

.qa__block.open .qa__block_headline {
   padding-bottom: 10px;
}
.qa__content_holder { // кусок со скрытым текстом
   margin-top: 10px;
   .inter-regular();
   color: #4B5563;
   font-size: 16px;
   line-height: 160%;
   
   display: none;
}
.qa__block ul {
   padding-left: 20px;
   margin-bottom: 12px;
   .smmd-block({ padding-left: 14px });
   .xs-block({ padding-left: 8px });
}
.qa__block ul li {
   list-style-type: disc;
}


.sm-block({
   .qa__block_circle:before {
   width: 20px;
   height: 3px;
   top: 20px;
   left: 21px;
   transform: translateX(-51%) translateY(-50%);
}
.qa__block_circle:after {
   width: 3px;
   height: 19px;
   top: 20px;
   left: 20px;
   transform: translateX(-15%) translateY(-50%);
}
   .qa__block.open .qa__block_circle {
   //transform: rotate(-45deg);
   .tr();
   &:after {
      transform: rotate(90deg) translateX(-320%) translateY(1%);
      .tr();
   }
}
});
