.totop__holder {
   cursor: pointer;
   position: absolute;
   bottom: 40px;
   right: 50px;
   .tr();
   opacity: .9;
   width: 56px;
   height: 56px;
   
   .totop();
   
   display: none;
   .from( 1900px, {
      right: unset;
      left: 88vw;
   });
   .from( 1500px, {
      right: unset;
      left: 93vw;
   });
   .xl-block({
      right: 38px;
      width: 48px;
      height: 48px;
   });
   .md-block({
      right: 5vw;
      bottom: 30px;
   });
}
.totop__holder:hover {
   transform: scale(1.03);
   opacity: 1;
   .tr();
}
