.header__holder {
   width: 100%;
   padding-top: 23px;
   padding-bottom: 23px;
   //background: linear-gradient(180deg, #1C357D 0%, #1f3c8f 100%);
}
.header__content {
   .flex();
   .justify-between();
   .items-center();
   
   .xl-block({
      .column();
   })
}
.header__logo {
   width: 315px; // 304
   height: 32px;
   .logo();
   
   .md-block({
      width: 94%; // 280
      height: 32px;
      .logo-sm();
   })
}


.cover_block {
   padding-bottom: 48px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 420px;
}
.cover_index {
   .cover('index');
}
.cover_about {
   .cover('about');
}
.cover_conditions {
   .cover('conditions');
}
.cover_docs {
   .cover('docs');
}
.cover_qa {
   .cover('qa');
}
.cover_news {
   .cover('news');
}

