.header__holder {
   width: 100%;
   padding-top: 23px;
   padding-bottom: 23px;
   //background: linear-gradient(180deg, #1C357D 0%, #1f3c8f 100%);
}
.header__content {
   .flex();
   .justify-between();
   .items-center();
   
   .llarge-block({
      .column();
   })
}
.header__logo {
   width: 315px; // 304
   height: 34px;
   .logo();
   .tr();
   
   .md-block({
      width: 100%;
      height: 32px;
   })
}
.header__logo:hover {
   transform: scale(1.01);
   .tr();
}

.cover_block {
   padding-bottom: 48px;
   margin-bottom: 16px;
   background-position: center 55%;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 420px;
   .middle-block({
      background-position: 60%;
   })
}
.cover_index {
   .cover('index');
   background-position: center 60%;
}
.cover_about {
   .cover('about');
}
.cover_conditions {
   .cover('conditions');
}
.cover_docs {
   .cover('docs');
}
.cover_qa {
   .cover('qa');
}
.cover_news {
   .cover('news');
}

