.header_menu__holder {
   .inter-medium();
   font-size: 16px;
   color: rgba(255, 255, 255, 0.95);
   
   .u-row-flex(32px);
   .justify-between();
   
   .llarge-block({
      margin-top: 1rem;
      .u-row-flex(30px);
   });
   .lg-block({
      .justify-start();
      .u-row-flex(24px);
   });
}
.menu__item {
   cursor: pointer;
   .u-col(32px);
   margin-top: 5px;
   margin-bottom: 4px;
   text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
   
   .xl-block({
      .u-col(30px);
   });
   .lg-block({
      .u-col(24px);
   });
}
.menu__item {
   position: relative;
   
   &:before,
   &:after {
      .pseudo();
      bottom: -6px;
      width: 0;
      height: 2px;
      border-radius: 40px;
      .tr();
   }
   &:before {
      right: 49%;
   }
   &:after {
      left: 50%;
   }
}
.menu__item:hover {
   &:before,
   &:after {
      background-color: rgb(204 212 222);
      width: 51%;
      .tr();
   }
   &:after {
      width: 52%;
   }
}
.menu__item.active {
   &:before,
   &:after {
      width: 52%;
      background-color: rgb(204 212 222);
   }
}
