.wrapper.block__holder
   h2.h2.mb32 Номинации
   include __block-third
   section.row
      +third( 'nomi', '1', 'Стандартизация <br>штатного расписания')
      +third( 'nomi', '2', 'Дебюрократизация <br>процессов')
      +third( 'nomi', '3', 'Создание <br>образовательных комплексов')
      +third( 'nomi', '4', 'Централизация / аутсорсинг <br>вспомогательных процессов')
      +third( 'nomi', '5', 'Оптимизация пространств в&nbsp;образовательных организациях')
      +third( 'nomi', '6', 'Реализация образовательных программ в&nbsp;сетевой форме')
