.wrapper.block__holder
   h2.h2.mb32 Этапы конкурса
   .block_steps__wrapper
      .step__holder.step_one__holder
         .step__line.step_line__blue
         .step__block
            .step__meta
               .step_meta__stage
                  .step_stage__icon.stage_icon-1
                  .step_stage__text Этап 1
               .step_meta__dates 1 апреля — 17 августа 2026
            .h3.mb05 Региональный этап
            .text-18-gray Приём и оценка заявок на региональном уровне
      .step__holder.step_empty__holder
         .step__line.step_line__empty
      .step__holder.step_two__holder
         .step__line.step_line__blue
         .step__block
            .step__meta
               .step_meta__stage
                  .step_stage__icon.stage_icon-2
                  .step_stage__text Этап 2
               .step_meta__dates 1 сентября — 20 ноября 2026
            .h3.mb05 Федеральный этап
            .text-18-gray Федеральный этап конкурса — заочный
