.bg-found() {
   background-size: contain;
   background-repeat: no-repeat;
}



.logo() {
   background-image: url("../data/logo/logo.svg");
   background-position: left;
   .bg-found();
}
.logo-sm() {
   background-image: url("../data/logo/logo-sm.svg");
   background-position: center;
   .bg-found();
}

.icon( @folder, @num ) {
   background-image: url("../data/@{folder}/@{num}.svg");
   background-position: center;
   .bg-found();
   flex-shrink: 0;
}
.icon-nomi-1 {
   .icon( 'nomi', '1');
}
.icon-nomi-2 {
   .icon( 'nomi', '2');
}
.icon-nomi-3 {
   .icon( 'nomi', '3');
}
.icon-nomi-4 {
   .icon( 'nomi', '4');
}
.icon-nomi-5 {
   .icon( 'nomi', '5');
}
.icon-nomi-6 {
   .icon( 'nomi', '6');
}

.icon-task-1 {
   .icon( 'task', '1');
}
.icon-task-2 {
   .icon( 'task', '2');
}
.icon-task-3 {
   .icon( 'task', '3');
}
.icon-task-4 {
   .icon( 'task', '4');
}

.icon-parti-1 {
   .icon( 'parti', '1');
}
.icon-parti-2 {
   .icon( 'parti', '2');
}
.icon-parti-3 {
   .icon( 'parti', '3');
}
.icon-parti-4 {
   .icon( 'parti', '4');
}

.icon-team-1 {
   .icon( 'team', '1');
}
.icon-team-2 {
   .icon( 'team', '2');
}
.icon-team-3 {
   .icon( 'team', '3');
}

.icon-docs-1 {
   .icon( 'docs', '1');
}
.icon-docs-2 {
   .icon( 'docs', '2');
}
.icon-docs-3 {
   .icon( 'docs', '3');
}
.icon-docs-4 {
   .icon( 'docs', '4');
}
.icon-docs-5 {
   .icon( 'docs', '5');
}
.icon-docs-6 {
   .icon( 'docs', '6');
}


.dot() {
   background-image: url("../data/index/dot.svg");
   background-position: center;
   .bg-found();
}
.step( @num ) {
   background-image: url("../data/index/step-@{num}.svg");
   background-position: center;
   .bg-found();
}


.cover( @pag ) {
   background-image: url("../data/index/cover-@{pag}.png");
}
