doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс бережливых технологий | Документы' )

   body
      .cover_block.cover_docs
         include assets/jade/header/__menu
         +menu( '', '', 'active', '', '')

         .wrapper.block_main__flex
            .block_main__caption.max-half
               h1.h1 Документы для конкурса
               .block__data Все необходимые документы  для&nbsp;участия во&nbsp;Всероссийском конкурсе

               .block__buttons.mt24
                  a().button_blue Подать заявку



      .wrapper.block__holder
         include assets/jade/content/__block-half-btn
         section.row
            article.block_article.block_article-half.block_btn
               .block_info.mrauto
                  .block_icon( class='icon-docs-1')
                  .text-18-dark Приказ Минпросвещения России о&nbsp;проведении конкурса
            +half-btn( 'docs', '2', 'Положение о&nbsp;проведении конкурса', 'Положение_о_Конкурсе.pdf')
            +half-btn( 'docs', '3', 'Заявка на&nbsp;участие', 'Шаблон_заявки_на_участие_в_конкурсе.docx')
            +half-btn( 'docs', '4', 'Шаблон резюме', 'Шаблон_резюме_проекта.docx')
            +half-btn( 'docs', '5', 'Шаблон методической разработки', 'Шаблон_методической_разработки_проекта.docx')
            +half-btn( 'docs', '6', 'Требования к&nbsp;видеовизитке', 'Требования_к_видео визитке.pdf')



      include assets/jade/static/to-top

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/script.js' )
