doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс бережливых технологий' )

   body
      .cover_block.cover_index
         include assets/jade/header/__menu
         +menu( '', '', '', '', '')
         .wrapper.block_main__flex
            .block_main__caption.caption_index.max-half
               h1.h1.flex
                  .small Всероссийский конкурс
                  | лучших практик внедрения бережливых технологий
                  .small2 в&nbsp;системе образования
               .block__data 15 апреля&nbsp;&mdash; 20&nbsp;ноября&nbsp;2026
               .block__buttons.mt24
                  a().button_blue Подать заявку
                  a( href='./docs.html').button_white Документы

      .wrapper.block__holder
         h2.h2.mb32 О конкурсе
         p.text-20-gray.max-half Всероссийский конкурс направлен на&nbsp;выявление личших практик бережливых технологий в&nbsp;образовательных организациях страны



      include assets/jade/content/nomi

      include assets/jade/content/steps


      include assets/jade/footer/footer

      include assets/jade/static/to-top

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/script.js' )
