doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс бережливых технологий | Вопросы и ответы' )

   body
      .cover_block.cover_qa
         include assets/jade/header/__menu
         +menu( '', '', '', 'active', '')

         .wrapper.block_main__flex
            .block_main__caption.max-half
               h1.h1 Вопросы и&nbsp;ответы
               .block__data Ответы на&nbsp;самые частые вопросы об&nbsp;участии в&nbsp;конкурсе

               .block__buttons.mt24
                  a().button_blue Подать заявку





      .wrapper.block__holder
         include assets/jade/content/__qa_headline
         section.qa__holder
            article.qa__block
               +headline( 'Кто может участвовать?')
               .qa__content_holder.hidden
                  div В конкурсе могут принимать участие образовательные организации:
                     br
                     | дошкольные, общеобразовательные, профессиональные (кроме вузов), а&nbsp;также организации дополнительного образования детей.

            article.qa__block
               +headline( 'Сколько человек может быть в&nbsp;команде?')
               .qa__content_holder.hidden
                  div Команда участника может включать не&nbsp;более 6&nbsp;человек.
                  div В состав команды допускается включение обучающихся и&nbsp;родителей.

            article.qa__block
               +headline( 'Какие номинации предусмотрены?')
               .qa__content_holder.hidden
                  div Конкурс проводится по&nbsp;следующим номинациям:
                     ul
                        li стандартизация штатного расписания
                        li дебюрократизация процессов
                        li создание образовательных комплексов
                        li централизация или&nbsp;аутсорсинг процессов
                        li оптимизация пространств
                        li реализация программ в&nbsp;сетевой форме

            article.qa__block
               +headline( 'Как подать заявку?')
               .qa__content_holder.hidden
                  div Заявка подается в&nbsp;электронном виде через установленную форму.
                  div Её направляет региональный оператор вместе с&nbsp;конкурсными материалами участника.

            article.qa__block
               +headline( 'Какие данные нужно указать в&nbsp;заявке?')
               .qa__content_holder.hidden
                  div В заявке необходимо указать:
                     ul
                        li сведения об&nbsp;образовательной организации
                        li выбранную номинацию
                        li название проекта
                        li контактные данные участников и&nbsp;оператора

            article.qa__block
               +headline( 'Какие материалы нужно подготовить для&nbsp;участия?')
               .qa__content_holder.hidden
                  div Участнику необходимо подготовить:
                     ul
                        li описание проекта (методическая разработка)
                        li заявку на&nbsp;участие
                        li видеовизитку проекта
                        li сопроводительные материалы (при&nbsp;необходимости)


            article.qa__block
               +headline( 'Какие требования к&nbsp;видеовизитке?')
               .qa__content_holder.hidden
                  div Видеоролик должен:
                     ul
                        li длиться не&nbsp;более 2&nbsp;минут
                        li иметь разрешение не&nbsp;ниже 1920×1080
                        li быть в&nbsp;формате .mp4 или&nbsp;.mov
                        li содержать информацию о&nbsp;проекте и&nbsp;результатах его реализации

            article.qa__block
               +headline( 'Как проходит конкурс?')
               .qa__content_holder.hidden
                  div Конкурс проходит в&nbsp;два этапа:
                     ul
                        li региональный этап&nbsp;&mdash; с&nbsp;15&nbsp;апреля по&nbsp;17&nbsp;августа 2026&nbsp;года
                        li федеральный этап&nbsp;&mdash; с&nbsp;1&nbsp;сентября по&nbsp;20&nbsp;ноября 2026&nbsp;года

            article.qa__block
               +headline( 'Кто проходит в&nbsp;федеральный этап?')
               .qa__content_holder.hidden
                  div В федеральный этап допускаются победители регионального этапа по&nbsp;каждой номинации.

            article.qa__block
               +headline( 'Кто организует конкурс?')
               .qa__content_holder.hidden
                  div Организатором конкурса является
                     br
                     | Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФИЦТО).




      .wrapper.column-center.block__holder
         .text-20-gray Остались вопросы?
         .center.mt24
            .block_contact__holder
               .block_contact__mail
                  .contact_mail__icon
                  .contact_mail__text konkurs@ficto.ru
               .block_contact__button
                  a( href='mailto:konkurs@ficto.ru' target='_blank').button_blue Написать нам


      include assets/jade/static/to-top

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/script.js' )
