doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс бережливых технологий | Вопросы и ответы' )

   body
      .cover_block.cover_qa
         include assets/jade/header/__menu
         +menu( '', '', '', 'active', '')

         .wrapper.block_main__flex
            .block_main__caption.max-half
               h1.h1 Вопросы и&nbsp;ответы
               .block__data Ответы на&nbsp;самые частые вопросы об&nbsp;участии в&nbsp;конкурсе

               .block__buttons.mt24
                  a().button_blue Подать заявку





      .wrapper.block__holder
         include assets/jade/content/__qa_headline
         section.qa__holder
            article.qa__block
               +headline( 'Кто может участвовать?')
               .qa__content_holder.hidden
                  div В конкурсе могут принимать участие образовательные организации:
                     br
                     | дошкольные, общеобразовательные, профессиональные (кроме вузов), а также организации дополнительного образования детей.

            article.qa__block
               +headline( 'Сколько человек может быть в команде?')
               .qa__content_holder.hidden
                  div Команда участника может включать не более 6 человек.
                  div В состав команды допускается включение обучающихся и родителей.

            article.qa__block
               +headline( 'Какие номинации предусмотрены?')
               .qa__content_holder.hidden
                  div Конкурс проводится по следующим номинациям:
                     ul
                        li стандартизация штатного расписания
                        li дебюрократизация процессов
                        li создание образовательных комплексов
                        li централизация или аутсорсинг процессов
                        li оптимизация пространств
                        li реализация программ в сетевой форме

            article.qa__block
               +headline( 'Как подать заявку?')
               .qa__content_holder.hidden
                  div Заявка подается в электронном виде через установленную форму.
                  div Её направляет региональный оператор вместе с конкурсными материалами участника.

            article.qa__block
               +headline( 'Какие данные нужно указать в заявке?')
               .qa__content_holder.hidden
                  div В заявке необходимо указать:
                     ul
                        li сведения об образовательной организации
                        li выбранную номинацию
                        li название проекта
                        li контактные данные участников и оператора

            article.qa__block
               +headline( 'Какие материалы нужно подготовить для участия?')
               .qa__content_holder.hidden
                  div Участнику необходимо подготовить:
                     ul
                        li описание проекта (методическая разработка)
                        li заявку на участие
                        li видеовизитку проекта
                        li сопроводительные материалы (при необходимости)


            article.qa__block
               +headline( 'Какие требования к видеовизитке?')
               .qa__content_holder.hidden
                  div Видеоролик должен:
                     ul
                        li длиться не более 2 минут
                        li иметь разрешение не ниже 1920×1080
                        li быть в формате .mp4 или .mov
                        li содержать информацию о проекте и результатах его реализации

            article.qa__block
               +headline( 'Как проходит конкурс?')
               .qa__content_holder.hidden
                  div Конкурс проходит в два этапа:
                     ul
                        li региональный этап — с 1 апреля по 17 августа 2026 года
                        li федеральный этап — с 1 сентября по 20 ноября 2026 года

            article.qa__block
               +headline( 'Кто проходит в федеральный этап?')
               .qa__content_holder.hidden
                  div В федеральный этап допускаются победители регионального этапа по каждой номинации.

            article.qa__block
               +headline( 'Кто организует конкурс?')
               .qa__content_holder.hidden
                  div Организатором конкурса является
                     br
                     | Федеральный институт цифровой трансформации в сфере образования (ФИЦТО).




      .wrapper.column-center.block__holder
         .text-20-gray Остались вопросы?
         a().button_blue.mt24 Связаться с&nbsp;организатором


      include assets/jade/static/to-top

      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/script.js' )
