html {
   font-size: 15px;
}
body {
   position: relative;
   .inter-medium();
   background-color: @back-doc;
   padding-bottom: 4rem;
   b {
   }
}
.wrapper(){
    max-width: 1320px;
    margin: 0 auto;
    .wrapper-full();
}
.wrapper {
   .wrapper();
}

.row {
   .row-flex();
}
.col {
   .col();
}

a {
   display: block;
   text-decoration: none;
   cursor: pointer;
   
   color: inherit;
   .tr();
}
menu {
   margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
