.center { .justify-center(); }
.column-center {
   .column-center();
}

.block__holder {
   padding-top: 24px;
   padding-bottom: 24px;
}
.button_blue {
   background-color: #3B82F6;
   border-radius: 10px;
   box-shadow: 0 6px 18px 0 rgba(58, 107, 255, 0.36);
   color: white;
   font-size: 16px;
   padding: 17px 30px;
   margin-right: 1rem;
   
   .xs-block({
      margin-right: 0;
      text-align: center;
   })
}
.button_white {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 6px 18px 0 rgba(255, 255, 255, 0.36);
   color: #111111;
   font-size: 16px;
   border: 1px solid rgba(0, 0, 0, 0.06);
   
   padding: 17px 30px;
   .xs-block({
      margin-top: 18px;
      text-align: center;
   })
}
.max-half {
   max-width: 800px;
   width: 80%;
   min-width: 370px;
   .xs-block({
      min-width: unset;
      width: auto;
   })
}

.block_article {
   .flex();
   .items-center();
   background-color: white;
   border: 1px solid #E2E8F0;
   border-radius: 18px;
   box-shadow: 0 8px 24px 0 rgba(15, 23, 42, 0.1);

   padding: 50px 18px 50px 28px;
   .md-block({
      padding: 36px 16px 36px 28px;
   });
   .xs-block({
      padding: 32px 12px 32px 18px;
   });
}
.block_article-third {
   margin-bottom: 24px;
   .xl-block({
      margin-bottom: 16px;
   });
   .col();
   .size(8);
   .size-xxl(12);
   .size-xl(12);
   .size-middle(12);
   .size-lg(20);
   .size-smmd(24);
   .size-xs(24);
   .lg-block({
      margin-left: auto;
      margin-right: auto;
   });
}
.block_article-half {
   padding-right: 22px;
   margin-bottom: 24px;
   .xl-block({
      margin-bottom: 16px;
   });
   .col();
   .size(12);
   .size-xl(18);
   .size-middle(18);
   .size-lg(20);
   .size-smmd(24);
   .size-md(24);
   .xl-block({
      margin-left: auto;
      margin-right: auto;
   });
}
.block_icon {
   width: 52px;
   height: 52px;
   margin-right: 1.5rem;
   
   .xl-block({
      width: 46px;
      height: 46px;
   });
   .lg-block({
      width: 36px;
      height: 36px;
      margin-right: 1rem;
   });
}
