.inline {
   display: inline !important;
}
.inline-block {
   display: inline-block !important;
}
.block {
   display: block !important;
}

.mrauto {
   margin-right: auto;
}
.mb05 {
   margin-bottom: .5rem !important;
}

.mr1 {
   margin-right: 1rem;
}


.mb2 {
   margin-bottom: 2rem !important;
}

.mb32 {
   margin-bottom: 32px;
}
.mt24 {
   margin-top: 24px;
}
.mt16 {
   margin-top: 16px;
}
.mb20 {
   margin-bottom: 20px;
}
