.black() {
   color: #111827;
}
.dark() {
   color: #1F2937;
}
.gray() {
   color: #6B7280;
}
.h1 {
   font-size: 54px;
   line-height: 120%;
   .black();
   .inter-bold();
   
   .xxl-block({ font-size: 46px; });
   .middle-block({ font-size: 40px; });
}
.h2 {
   font-size: 40px;
   line-height: 120%;
   .black();
   .inter-bold();
   
   .xl-block({ font-size: 34px; })
}
.h3 {
   font-size: 22px;
   line-height: 135%;
   .dark();
   .inter-semibold();
}



.text-16-dark {
   .inter-semibold();
    font-size: 16px;
    line-height: 135%;
   .dark();
}
.text-20-gray {
   .inter-medium();
    font-size: 20px;
    line-height: 32px;
   .gray();
   .sm-block({ font-size: 18px; })
}
.text-18-dark {
   .inter-medium();
    font-size: 18px;
    line-height: 135%;
   .dark();
   .sm-block({ font-size: 16px; })
}
.text-18-gray {
   .inter-medium();
    font-size: 18px;
    line-height: 135%;
   .gray();
   .sm-block({ font-size: 16px; })
}

.text {
   .inter-medium();
    font-size: 18px;
    line-height: 32px;
   .sm-block({ font-size: 16px; })
}
