.black() {
   color: #111827;
}
.dark() {
   color: #1F2937;
}
.gray() {
   color: #6B7280;
}
.h1 {
   font-size: 49px;
   line-height: 120%;
   color: white;
   .inter-bold();
   
   .xxl-block({ font-size: 45px; });
   .middle-block({ font-size: 40px; });
}
.h2 {
   font-size: 34px;
   line-height: 120%;
   .black();
   .inter-bold();
   
   .xl-block({ font-size: 32px; })
}
.h3 {
   font-size: 22px;
   line-height: 135%;
   .dark();
   .inter-semibold();
}



.text-16-dark {
   .inter-semibold();
    font-size: 16px;
    line-height: 130%;
   .dark();
}
.text-20-gray {
   .inter-medium();
    font-size: 19px;
    line-height: 27px;
   .gray();
   .sm-block({ font-size: 18px; })
}
.text-18-dark {
   .inter-medium();
    font-size: 17px;
    line-height: 130%;
   .dark();
   .sm-block({ font-size: 16px; })
}
.text-18-gray {
   .inter-medium();
    font-size: 17px;
    line-height: 130%;
   .gray();
   .sm-block({ font-size: 16px; })
}

